#header {
    width: 100%;
    height: 200px;
    background-color: transparent;

    padding-left: 5rem;
    padding-right: 5rem;
}

#header img {
    height: 150px;
}

#info {
    position: absolute;
    left: 5rem;
    bottom: 10vh;
    width: 20%;
    background-color: white;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
    padding: 1rem;
}

.info-ponto {
    background-color: white;
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.section {
    width: 100vw !important;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    margin-bottom: 2rem;
}

.section2 {
    width: 100vw !important;
    height: 100vh !important;

    position: absolute;
    left: 0;
    right: 0;
    top: 100vh;
    z-index: 0;
}


#map {
    height: 100vh;
    width: 100vw;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.info-ponto-2 {
    height: calc(100% - 6rem);
}

.seperator {
    height: 100%;
    width: 1px;
    background: grey;
    top: 0;
    bottom: 0;
    position: absolute;
    left: 50%;
  }

  p.thicker {
      font-weight: 900;
  }

  .col-centered{
      float: none;
      margin: 0 auto;
  }
